body{
    background-image: url(https://e0.pxfuel.com/wallpapers/1024/963/desktop-wallpaper-aquaman-carbon-logo-grunge-art-carbon-background-creative-aquaman-black-logo-superheroes-aquaman-logo-aquaman.jpg);
    color: azure;
}

/* search bar */
#searchHero{
    display: block;
    width: 53%;
    height: 3rem;
    margin: 8px auto;
    font-size: 1.3rem;
    padding-left: 2%;
    background-color: rgb(156, 147, 147);
    border-radius: 50px;
    outline: none;
}

::placeholder{
    color: aliceblue;
}

/* image */
.image-size{
    width: 70px;
    height: 70px;
    margin-left: 2rem;
    border-radius: 20px;
}

/* search result div */
#searchResults{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: 2px solid black;
    overflow: scroll;
    height: 60vh;
    width: 80%;
    margin: 0 auto;
    background-color: black;

}
::-webkit-scrollbar{
    display: none;
}



ul li{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    
}

ul li a{
    color: aliceblue;
}


/* buttons */
button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 6rem;
    outline: none;
    border: none;
    background-color: brown;
    color: white;
}
#delFav{
    color: red;
    font-size: 25px;
}
#delFav:hover{
    cursor:pointer;
}
#addFav:hover{
    cursor:pointer;
}
#addFav{
    font-size: 25px;
    color: lightgray;
}
.search-item a{
    width: 60%;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}


/* navbar */
.navbar-brand{
    color: rgb(204, 35, 35);
    padding: 5px;
}

.nav-link{
    color: whitesmoke;
}

.navbar{
    position: sticky;
}